#main_jpg {
    width: 30%;
}

.logo {
    width: 100%;
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
}

h1 {
    color: #ff6600;
    font-size: 200%;
    font-weight: 900;
    font-family: Comic sans MS;
    text-align:  center;
}

h2 {
    color: #ffff00;
    font-size: 200%;
    font-weight: 900;
    font-family: Comic sans MS;
    text-align:  center;
}

body {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
    background-position: center;
}

.nav {
    font-size: 250%;
    font-weight: 500;
    font-family: Comic sans MS;
    color: #f25ea8;
    justify-content: center;
}

img {
    border-radius: 50px;
}

.text {
    text-align:  center;
    font-family: Comic sans MS;
}
    
.center {
    display: block; margin-left: auto; margin-right: auto;
}

.walpapa {
    width: 100%;
    /* display: block; */
    /* margin-left: auto; */
    /* margin-right: auto; */
}

.preview {
    width: 80%;
    /* display: block; */
    /* margin-left: auto; */
    /* margin-right: auto; */
}

.kadry {
    width: 100%;
    /* display: block; */
    /* margin-left: auto; */
    /* margin-right: auto; */
}

input[type=text] {
    width:200px;
    height: 30px;
    border: dotted 2px;
    color: red;
    background-color: lightgreen;
    font-family: Comic sans MS;
    font-size: 100%;
    font-weight: 900;
}

.container {
     text-align: center;
}



.row {
    justify-content: center;
}

#story {
    font-size: 20px;
    font-family:  cursive, Comic sans MS, sans-serif;
    color: azure;
}

@media screen and (min-width : 560px) {
    #story {
        display: none;
    }
}

@media screen and (min-width : 380px) {
    #map2 {
        display: none;
    }
}

@media screen and (max-width : 380px) {
    #map1 {
        display: none;
    }
}

#map1 {
     text-align: center;
}


#map2 {
     text-align: center;
}

.flex-container {
			  height: auto;
			  display: flex;
			  flex-direction: row;
			  flex-wrap: wrap;
			  justify-content: space-evenly;
		      align-items: center;
			  align-content: center;
			 		  } 

.flex-container-nav {
			  height: auto;
			  display: flex;
			  flex-direction: row;
			  flex-wrap: wrap;
			  justify-content: space-evenly;
		      align-items: center;
			  align-content: center;
			  
		  } 

  .flex-item {
			  flex-basis: auto;
		  }

.flex-container-mainpicture {
			  height: auto;
			  display: flex;
			  flex-direction: row;
			  flex-wrap: wrap;
			  justify-content: center;
		      align-items: center;
			  align-content: center;
			 		  } 

.flex-container-main {
			  height: auto;
			  display: flex;
			  flex-direction: column;
			  text-align: center;
			  justify-content: center;
		      align-items: center;
			  align-content: center;
			 		  } 


.flex-container-foot {
			  height: auto;
			  display: flex;
			  flex-direction: row;
			  flex-wrap: wrap;
			  justify-content: space-evenly;
		      align-items: center;
			  align-content: center;
			 		  } 

.form-input {
    border: 2px solid grey;
    padding: 5px;
}

.form-input:focus {
    border-color: blue;
    outline: none;
}


a:link {
    color: yellow;
    padding: 2px;
}

a:hover {
    background: green;
    color: white;
}

a:visited {
    color: lawngreen;
}


.shadow {
    background: white; /* Цвет фона */
    box-shadow: 0 2px 15px lawngreen; /* Параметры тени */
    padding: 3px;
   }